# Mac
.DS_Store

# Build files
target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/original-kafka-connect-marklogic-2.0.jar
target/surefire-reports
target/test-classes
